body{background-color: black; color: white;}

.container { 
    width: 500px;
    padding: 40px;
    border: solid 3px white ;
    margin: auto;
}

h1{ text-align: center;}

.pai{
    width: 300px;
    height: 25px;
    box-shadow: 1px 2px black ;
}

.nome{ 
    margin: 10px 0px 0px 92px;
}

.sobrenome{
    margin: 10px 0px 0px 58px;
}

.email{
    margin: 10px 0px 0px 93px;
}

.cpf{
    margin: 10px 0px 0px 102px;
}

.sexo{
    margin: 10px 0px 0px 112px;
}

.numero{
    margin: 10px 0px 0px 75px;
}

.birthdate{
    margin: 10px 0px 0px 0.5px;
}

.celular{
    margin: 10px 0px 0px 84px;
}

.senha{
    margin: 10px 0px 0px 31.8px;
}

.senha2{
    margin: 10px 0px 0px 43.8px;   
}

.enviar{
    margin: 20px 50px 0px 175px;
}

.reset{
    margin: 20px 10px 0px 50px;
}